.itemContainer {
    margin-bottom: 0.5rem;
}

.itemHeader {
    font-size: var(--header-two-size);
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 0.25rem;
}

.flexibleListStart,
.flexibleListSpace {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flexibleListSpace {
    justify-content: space-around;
}

.flexibleListStart {
    justify-content: flex-start;
}

.flexibleListStart > *,
.flexibleListSpace > * {
    margin-right: var(--header-one-size);
}

.hiddenInPrint {
    @media print {
        display: none;
    }
}
