.itemContainer {
    margin-bottom: 0.5rem;
}

.itemHeader {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 0.25rem;
}

.flexibleList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.flexibleList > * {
    margin-right: 1.5rem;
}

.hiddenInPrint {
    @media print {
        display: none;
    }
}
