:root {
    --dark: #2e2e2e;
    --primary: #00843d;
    --secondary: #8F8F8C;
    --navbar-height: 50px;
    --footer-height: var(--navbar-height);
}

body {
    margin: 0px;
    padding: 0px;

    @media screen {
        background-color: var(--dark);
        color: white;
    }

    @media print {
        background-color: white;
        color: black;
    }
}

main {
    padding-inline: 2rem;
    max-width: 1200px;
    margin: auto;
    flex: 1;
}

main * {
    scroll-margin-block-start: calc(var(--navbar-height) + 1.5rem);
}

main a:link,
footer a:link {
    @media screen {
        color: white;
        text-decoration: underline;
    }

    @media print {
        color: black;
    }

}

main a:visited,
footer a:visited {
    @media screen {
        color: var(--secondary);
    }

    @media print {
        color: black;
    }

}

main a:hover,
footer a:hover,
summary:hover {
    color: var(--primary);
    cursor: pointer;
}

main a:active,
footer a:active {
    color: var(--primary);
}

#page-wrapper {
    /* This keeps the footer at the bottom of the page when there is not enough content. */
    display: flex;
    flex-direction: column;

    @media screen {
        padding-top: var(--navbar-height);
        min-height: calc(100vh - var(--navbar-height));
    }

    @media print {
        padding-top: 0;
        min-height: unset;
    }
}

ul {
    margin-inline: 0px;
    margin-block: 0.5rem;
}

@media print {
    a:any-link {
        text-decoration: none;
    }
}