.topNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    z-index: 1000;
    background-color: var(--primary);
    overflow: hidden;
    color: var(--secondary);
    border-bottom: 2px solid var(--secondary);
}

.topNavLink {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    height: var(--navbar-height);
}

.topNavLinkLeft {
    float: left;
}

.topNavLinkLeft:hover {
    background-color: var(--secondary);
}

.topNavLinkRight {
    float: right;
    background-color: var(--secondary);
}